##############################
## Maven
##############################
/target/
/target/*

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
/.classpath
/.apt_generated/
/.apt_generated_tests/
/.factorypath
