<configuration>

    <property name="LOG_ROOT" value="logs/"/>

    <!-- Appender file dedicato TmfPersistenceService -->
    <appender name="PERSISTENCE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/persistence.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/persistence.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- Logger dedicato solo alla tua classe -->
    <logger name="it.eng.dome.revenue.engine.service.TmfPersistenceService" level="INFO" additivity="false">
        <appender-ref ref="PERSISTENCE_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Tutto il resto a ERROR -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
