<configuration>

    <property name="LOG_ROOT" value="logs/"/>

    <appender name="LOG_ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/tmf-problems.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/tmf-problems.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PLAN_PROBLEMS_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/plan-problems.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/plan.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="it.eng" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="tmf-problems" level="debug" additivity="false">
        <appender-ref ref="TMF_PROBLEMS_ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="plan-problems" level="debug" additivity="false">
        <appender-ref ref="PLAN_PROBLEMS_ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
